body {
    background-color: rgb(255, 219, 17);
  }
  <!DOCTYPE html>
<html>
<head>
<style>
body {
background-color: lightblue;
}

h1 {
color:darkviolet;
text-align: center;
}

p {
font-family: verdana;
font-size: 20px;
}

h2 {
  color:darkviolet;
  text-align: center;
}

h3 {
  color:aliceblue
}

h4 {
  color:aliceblue 

}